/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.lhotseSticky, .mob-lhotseSticky {
	position: fixed !important;
	width: 100%;
}

/* .admin-bar .nav-secondary.lhotseSticky {
	top: 32px;
} */